<!-- <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">© <%= new Date().getFullYear() %> Company, Inc</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
</footer> -->

<footer class="py-5">
  <div class="row">
    <div class="col-6 col-md-2 mb-3">
      <!-- <h5 style="color: rgb(215, 212, 212);">Section</h5> -->
      <ul class="nav flex-column footer-ul">
        <li class="nav-item mb-2"><a href="./home?city=Bangalore" class="nav-link p-0 footer-ul-li-a">Bangalore</a></li>
        <li class="nav-item mb-2"><a href="./home?city=Mumbai" class="nav-link p-0 footer-ul-li-a">Mumbai</a></li>
        <li class="nav-item mb-2"><a href="./home?city=Pune" class="nav-link p-0 footer-ul-li-a">Pune</a></li>
        <li class="nav-item mb-2"><a href="./home?city=Lucknow" class="nav-link p-0 footer-ul-li-a">Lucknow</a></li>
        <li class="nav-item mb-2"><a href="./home?city=Ranchi" class="nav-link p-0 footer-ul-li-a">Ranchi</a></li>
      </ul>
    </div>

    <div class="col-6 col-md-2 mb-3">
      <!-- <h5 style="color: rgb(215, 212, 212);">Section</h5> -->
      <ul class="nav flex-column footer-ul">
        <li class="nav-item mb-2"><a href="./home?city=Delhi" class="nav-link p-0 footer-ul-li-a">Delhi</a></li>
        <li class="nav-item mb-2"><a href="./home?city=Gurugram" class="nav-link p-0 footer-ul-li-a">Gurugram</a></li>
        <li class="nav-item mb-2"><a href="./home?city=Kolkata" class="nav-link p-0 footer-ul-li-a">Kolkata</a></li>
        <li class="nav-item mb-2"><a href="./home?city=Bhopal" class="nav-link p-0 footer-ul-li-a">Bhopal</a></li>
        <li class="nav-item mb-2"><a href="./home?city=Jamnagar" class="nav-link p-0 footer-ul-li-a">Jamnagar</a></li>
      </ul>
    </div>

    <div class="col-6 col-md-2 mb-3">
      <!-- <h5 style="color: rgb(215, 212, 212);">Section</h5> -->
      <ul class="nav flex-column footer-ul">
        <li class="nav-item mb-2"><a href="./home?city=Indore" class="nav-link p-0 footer-ul-li-a">Indore</a></li>
        <li class="nav-item mb-2"><a href="./home?city=Chandigarh" class="nav-link p-0 footer-ul-li-a">Chandigarh</a></li>
        <li class="nav-item mb-2"><a href="./home?city=Surat" class="nav-link p-0 footer-ul-li-a">Surat</a></li>
        <li class="nav-item mb-2"><a href="./home?city=Hyderabad" class="nav-link p-0 footer-ul-li-a">Hyderabad</a></li>
        <li class="nav-item mb-2"><a href="./home?city=Jaipur" class="nav-link p-0 footer-ul-li-a">Jaipur</a></li>
      </ul>
    </div>

    <div class="col-md-5 offset-md-1 mb-3">
      <form>
        <h5 style="color: rgb(215, 212, 212);">Subscribe to our newsletter</h5>
        <p style="color: rgb(215, 212, 212);">Monthly digest of what's new and exciting from us.</p>
        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
          <label for="newsletter1" class="visually-hidden">Email address</label>
          <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
          <button class="btn btn-primary" type="button">Subscribe</button>
        </div>
      </form>
    </div>
  </div>

  <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
    <p style="color: rgb(215, 212, 212);">© <%= new Date().getFullYear() %> Company, Inc. All rights reserved.</p>
    <ul class="list-unstyled d-flex">
      <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
      <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
      <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
    </ul>
  </div>
</footer>