<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <nav>
        <div>
            <a href="#">DriveDynasty</a>
            <a href="#">Fullfilling your dreams</a>
        </div>
    </nav> -->

    <div class="container-fluid border border-black">
        <div class="row border border-black">
            <div class="col-1">
                <div id="mySidepanel" class="sidepanel">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="#">Investor Relations</a>
                    <a href="#">Leadership</a>
                    <a href="#">Login</a>
                    <a href="#">SignUp</a>
                </div>
                  
                <button class="openbtn" onclick="openNav()">&#9776;</button>
            </div>
            <div class="col-1">
                <div class="logo-img-v" style="margin-left: 10px;  margin-right: -10px;">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 96C0 60.7 28.7 32 64 32h96c123.7 0 224 100.3 224 224s-100.3 224-224 224H64c-35.3 0-64-28.7-64-64V96zm160 0H64V416h96c88.4 0 160-71.6 160-160s-71.6-160-160-160z"/></svg>
                </div>
                <!-- <img src="../../public/images/logo.jpeg" alt="hj"> -->
                <!-- <img height="50" src="https://png.pngtree.com/png-vector/20211025/ourmid/pngtree-letter-d-logo-png-image_3989483.png" alt=""> -->
                
            </div>
            <div class="col-3">
                
                <div style=" margin-left: -10px;">
                    <h1 id="company-name">riveDynasty</h1>
                </div>
                <div class="satisfy-regular" style="color: rgb(179, 175, 175);">dreams at your doorstep</div>
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-2 dropdown-parent-v">
                <div class="dropdown">
                    <div class="dropdown-child-v">
                        <button style="background-color:white ;" class="btn dropdown-toggle fw-bold" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Company Profile
                          </button>
                          <ul style="background-color: grey; " class="dropdown-menu">
                            <li><a  style="color: white;" class="dropdown-item dropdown-a-v" href="#">Investor Relations</a></li>
                            <li><a  style="color: white;" class="dropdown-item dropdown-a-v" href="#">Leadership</a></li>
                            <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                          </ul>
                    </div>
                    
                  </div>
            </div>
            <div class="col-3 auth-parent-v">
                <div class="auth-v">
                    <a class="login-v auth-a-v" href="/login">
                        Login
                    </a>
                    /
                    <a class="signup-v auth-a-v" href="/register">SignUp</a>
                </div>
            </div>
        </div>
    </div>


    
    
</body>
</html>