<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Satisfy&family=Ubuntu:wght@300&family=Varela+Round&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <!-- Header starts -->
    <div class="container-fluid border border-black">
        <div class="row border border-black">
            <div class="col-1">
                <div id="mySidepanel" class="sidepanel">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="#">Investor Relations</a>
                    <a href="#">Leadership</a>
                    <a href="#">Login</a>
                    <a href="#">SignUp</a>
                </div>
                  
                <button class="openbtn" onclick="openNav()">&#9776;</button>
            </div>
            <div class="col-1">
                <div class="logo-img-v" style="margin-left: 10px;  margin-right: -10px;">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 96C0 60.7 28.7 32 64 32h96c123.7 0 224 100.3 224 224s-100.3 224-224 224H64c-35.3 0-64-28.7-64-64V96zm160 0H64V416h96c88.4 0 160-71.6 160-160s-71.6-160-160-160z"/></svg>
                </div>
                <!-- <img src="../../public/images/logo.jpeg" alt="hj"> -->
                <!-- <img height="50" src="https://png.pngtree.com/png-vector/20211025/ourmid/pngtree-letter-d-logo-png-image_3989483.png" alt=""> -->
                
            </div>
            <div class="col-3">
                
                <div style=" margin-left: -10px;">
                    <h1 id="company-name">riveDynasty</h1>
                </div>
                <div class="satisfy-regular" style="color: rgb(179, 175, 175);">dreams at your doorstep</div>
            </div>
            <div class="col-2">
                
            </div>
            <div class="col-2 dropdown-parent-v">
                <!-- <div class="dropdown">
                    <div class="dropdown-child-v">
                        <button style="background-color:white ;" class="btn dropdown-toggle fw-bold" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Company Profile
                          </button>
                          <ul style="background-color: grey; " class="dropdown-menu">
                            <li><a  style="color: white;" class="dropdown-item dropdown-a-v" href="#">Investor Relations</a></li>
                            <li><a  style="color: white;" class="dropdown-item dropdown-a-v" href="#">Leadership</a></li> -->
                            <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                          <!-- </ul>
                    </div>
                    
                  </div> -->
            </div>
            <div class="col-3 auth-parent-v">
                <div class="auth-v">
                    <a class="login-v auth-a-v" href="/">
                        Book a Car
                    </a>
                    <!-- /
                    <a class="signup-v auth-a-v" href="/register">SignUp</a> -->
                </div>
            </div>
        </div>
    </div>

    <!-- Header Ends -->
    <div class="m-5">
        <div class="mx-auto mt-5" style="width: fit-content;">
            <h2>Know about our relations with Investors</h2>
        </div>
        <div class="mx-auto" style="width: 75%;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus voluptatum ab distinctio rem culpa reiciendis cumque optio ex ratione sunt! Laboriosam ipsum quo dolore. At nihil consequuntur eligendi tenetur quas.
            Eius esse velit qui assumenda iusto vitae necessitatibus reprehenderit tempore labore nesciunt saepe temporibus, aperiam enim corrupti laborum suscipit repellat aliquam, adipisci veritatis sunt. Excepturi iure dolorum aliquam? Totam, iusto.
            Perspiciatis suscipit eveniet rerum ipsa necessitatibus at a ea provident exercitationem atque culpa cumque, eos voluptatibus molestiae illum iste odit magnam incidunt? Possimus voluptatum praesentium vel facere accusantium ut officia.
            Expedita, incidunt? Illum dolorem exercitationem, quas sint soluta iste, dolorum, expedita fugit ipsa molestiae et reiciendis tenetur officia alias omnis molestias animi commodi nesciunt repellendus quidem consequatur id cum. Ipsa.
            Numquam eum magni nemo quidem vel blanditiis minima nihil eos harum neque temporibus ipsa tempore labore ut soluta iure, accusamus amet aspernatur corporis, aliquid, est eveniet. Voluptas accusantium error ducimus!
            
        </div>
        
    </div>

    
    
    
    <div class="service-places-parent-v">
        <div class="service-places-child-v">
            <h4 style="font-weight:700;">CAR RENTAL PLACES IN INDIA</h4>
        </div>
        <div class="service-places-child-v">
            <%- include("./partials/footer.ejs") %>
        </div>
        
    </div>
    

    <script src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>


