 
.container-fluid {
    background-color: #252f38;
}

.logo-img-v {
    width: 100%;
    height: 100%;
}

#company-name {
    color: white;
}

.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 800;
    font-size: larger;
    font-style: normal;
}

.auth-parent-v {
    display: flex;
}

.auth-v {
    font-size: x-large;
    font-weight: 400;
    color: white;
    width: fit-content;
    margin: auto;
    align-items: center;
}

.auth-a-v {
    font-size: x-large;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.auth-a-v:hover {
    color: white;
}

.dropdown {
    display: flex;
    align-items: center;
    height: 100%;
}

.dropdown-child-v {
    height: fit-content;
}

.dropdown-a-v:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* -----------------Sidepanel css-------------------------*/

.sidepanel {
    height: 250px;
    /* Specify a height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: black;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */

.sidepanel a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

/*-----------------Sidepanel css-------------------------    */

.main-page-img-v {
    position: relative;
    height: 400px;
    width: 100%;
    border: 1px solid black;
}

.main-page-img-v::before {
    content: "";
    background-image: url("../images/web_banner_compressed.jpg");
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px 500px inset;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
}

.h1-rent-v {
    position: relative;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    letter-spacing: normal;
}

#main-sub-heading-v {
    position: relative;
    font-weight: 600;
    color: #fff;
    letter-spacing: normal;
}

.div-rent-child-v {
    width: fit-content;
    margin: auto;
}

.div-rent-v {
    margin-top: 50px;
}

.popular-cars-h1-v {
    font-weight: 500;
}

.popular-cars-div-v {
    margin: 20px;
    margin-left: 80px;
    margin-top: 40px;
}

/* -----------------Search location---------------------------------*/

.getCar {
    position: relative;
    margin: auto;
    margin-top: 80px;
    width: 57%;
    height: 60px;
    display: grid;
    grid-template-columns: 35% 0.2% 35% 29.8%;
    background-color: white;
    border-radius: 30px;
    font-family: "IBM Plex Sans";
}

.address {
    cursor: pointer;
    border: none;
    outline: none;
    margin-left: 60px;
    font-size: 17px;
    letter-spacing: 1px;
}

.midLine {
    background: #979797;
    margin: 10px 0px;
}

.address:nth-child(4) {
    background: #252f38;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    transition: background-color 0.3s ease;
}

.address:nth-child(4):hover{
    background-color: black;
}

.places{
    font-size: 16px;
}

/* -----------------Search location---------------------------------*/

/* ----Why choose DriveDynasty---- */

.why-dynasty-v {
    width: fit-content;
    margin: auto;
}

.reasons-v {
    display: flex;
    justify-content: center;
}

.reasons-img-v {
    width: fit-content;
    margin: auto;
}

/* -------------------------------------------- */

/* -------------service-places/footer-------------------- */

.service-places-parent-v {
    margin-top: 20px;
    background-color: #252f38;
}

.service-places-child-v {
    margin-top: 5px;
    width: 90%;
    margin: auto;
}

.service-places-child-v h4 {
    color: rgb(215, 212, 212);
    font-weight: 700;
}

.footer-ul-li-a {
    color: rgb(215, 212, 212);
    font-weight: 600;
}

.footer-ul-li-a:hover {
    color: rgb(215, 212, 212, 0.8);
}

/* -------------service-places/footer-------------------- */

/* ----------------Product card------------------- */

.product-card {
    width: 100%;
    max-width: 27rem;
    margin: 1.5rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    width: 20rem;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.cardBody {
    padding: 1.5rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
}

.card-text {
    font-size: 1rem;
    color: #333;
    margin-bottom: 1rem;
}

.card-price {
    font-size: 1.1rem;
    color: #252f38;
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center;
}

.botn {
    background-color: #31383e;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.botn-div {
    text-align: center;
}

.botn:hover {
    background-color: black;
}


/* -------------leadership-------------- */

.leadership-img-div {
    width: fit-content;
    margin: 20px auto;
}

.leadership-img {
    height: 125px;
    width: 125px;
    border: 3px solid #252f38;
    border-radius: 50%;
}

.leadership-desc-v {
    width: 85%;
    margin: 20px auto;
}

.leadership-desc-v h6 {
    font-size: large;
}

.particular, .particular:focus, .particular:active{
    outline: none !important;
    border: none !important;
}

/* -------------leadership-------------- */



/* --------------Rent Car----------------- */
.rent-body{
    background-color: rgb(37, 47, 56, 0.3);
    height: 100vh;
}

.rent-body h2{
    position: relative;
    top: 20px;
}

.rent-form{
    color: white;
    background-color: rgb(37, 47, 56);
    border-radius: 0.5rem;
    height: 600px;
    padding: 25px;
    position: relative;
    top: 20px;
    height: 550px;
}

.satisfy-regular-rent {
    font-family: "Satisfy", cursive;
    font-weight: 800;
    font-size: xx-large;
    font-style: normal;
}
/* --------------------------------------- */

::-webkit-scrollbar{
    display: none;
}
