<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Satisfy&family=Ubuntu:wght@300&family=Varela+Round&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
    <!-- <div class="rent-body">
        <h2 class="satisfy-regular-rent" style="text-align: center;">Enter details for hassle free experience ahead!</h2>
        <form class="row g-3 w-50 mx-auto mt-4 border border-black rent-form pay-form">
            <div class="col-md-6">
                <label for="inputName" class="form-label">Name</label>
                <input type="text" class="form-control" id="inputName">
            </div>
            <div class="col-md-6">
                <label for="inputPhone" class="form-label">Phone no.</label>
                <input type="number" class="form-control" id="inputPhone">
            </div>
            <div class="col-12">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail">
            </div>
            <div class="col-12">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="col-12">
                <label for="inputAddress2" class="form-label">Address line 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="col-md-6">
                <label for="inputCity" class="form-label">City</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="col-md-6">
                <label for="inputZip" class="form-label">Zip</label>
                <input type="text" class="form-control" id="inputZip">
            </div>
            <div class="col-12">
                <input type="submit" value="Pay Now">
            </div>
        </form>
    </div> -->

    <div class="product-card">
        <div class="card">
            <img class="card-img-top" src="https://imgd-ct.aeplcdn.com/664x415/n/zgaerbb_1693951.jpg?q=80" alt="" width="100px" height="100px">
            <div class="card-body">
                <p class="card-title">Tata Harrier</p>
                <p class="card-title"><b>Amount:- Rs. 3500</b></p>
                <form class="pay-form">
                    <input type="hidden" name="name" value="Harrier">
                    <input type="hidden" name="amount" value="3500">
                    <input type="hidden" name="description" value="Harrier">
                    <input type="submit" value="Pay Now" class="btn botn btn-primary">
                </form>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202310/volkswagen-taigun-trail-edition-030132723-16x9_0.jpg?VersionId=XDFDbbNSACOe4vmwDW8f06.mYUj_pKky&size=690:388" alt="" width="100px" height="100px">
            <div class="card-body"></div>
                <p class="card-title">Volkswagen Taigun</p>
                <p class="card-title"><b>Amount:- Rs. 4000</b></p>
                <form class="pay-form">
                    <input type="hidden" name="name" value="Taigun">
                    <input type="hidden" name="amount" value="4000">
                    <input type="hidden" name="description" value="Taigun">
                    <input type="submit" value="Pay Now" class="btn botn btn-primary">
                </form>
            <div>
        </div>


    
        <div class="card">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5b/Mahindra_Scorpio_GLX_2.6_m-Hawk_2011_%2836756517492%29.jpg/1200px-Mahindra_Scorpio_GLX_2.6_m-Hawk_2011_%2836756517492%29.jpg" alt="" width="100px" height="100px">
            <div class="card-body">
                <p class="card-title">Mahindra Scorpio</p>
                <p class="card-title"><b>Amount:- Rs. 3800</b></p>
                <form class="pay-form">
                    <input type="hidden" name="name" value="Scorpio">
                    <input type="hidden" name="amount" value="3800">
                    <input type="hidden" name="description" value="Scorpio">
                    <input type="submit" value="Pay Now" class="btn botn btn-primary">
                </form>
            </div>
        </div>
    
        <div class="card">
            <img class="card-img-top" src="https://resource.digitaldealer.com.au/image/1165778095632d3ecd52e41208524192_770_0-c.jpg" alt="" width="100px" height="100px">
            <div class="card-body">
                <p class="card-title">Hyundai Venue</p>
                <p class="card-title"><b>Amount:- Rs. 3000</b></p>
                <form class="pay-form">
                    <input type="hidden" name="name" value="Venue">
                    <input type="hidden" name="amount" value="3000">
                    <input type="hidden" name="description" value="Venue">
                    <input type="submit" value="Pay Now" class="btn botn btn-primary">
                </form>
            </div>
        </div>
    
        <div class="card">
            <img class="card-img-top" src="https://www.carlelo.com/laravel/public/uploads/model/1649923133.webp" alt="" width="100px" height="100px">
            <div class="card-body">
                <p class="card-title">Maruti Suzuki S-Presso</p>
                <p class="card-title"><b>Amount:- Rs. 3400</b></p>
                <form class="pay-form">
                    <input type="hidden" name="name" value="Spresso">
                    <input type="hidden" name="amount" value="3400">
                    <input type="hidden" name="description" value="Spresso">
                    <input type="submit" value="Pay Now" class="btn botn btn-primary">
                </form>
            </div>
        </div>
    
        <div class="card">
            <img class="card-img-top" src="https://static3.toyotabharat.com/images/showroom/innova-mmc/unmatched-unrivaled-banner1600x850.jpg" alt="" width="100px" height="100px">
            <div class="card-body">
                <p class="card-title">Toyota Innova Crysta</p>
                <p class="card-title"><b>Amount:- Rs. 4200</b></p>
                <form class="pay-form">
                    <input type="hidden" name="name" value="Crysta">
                    <input type="hidden" name="amount" value="4200">
                    <input type="hidden" name="description" value="Crysta">
                    <input type="submit" value="Pay Now" class="btn botn btn-primary">
                </form>
            </div>
        </div>
    <div>

    
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>

$(document).ready(function(){

  
	$('.pay-form').submit(function(e){
		e.preventDefault();

		var formData = $(this).serialize();

		$.ajax({
			url:"/createOrder",
			type:"POST",
			data: formData,
			success:function(res){
				if(res.success){
					var options = {
						"key": ""+res.key_id+"",
						"amount": ""+res.amount+"",
						"currency": "INR",
						"name": ""+res.product_name+"",
						"description": ""+res.description+"",
						"image": "https://www.carlelo.com/laravel/public/uploads/model/1649923133.webp",
						"order_id": ""+res.order_id+"",
						"handler": function (response){
							alert("Payment Succeeded");
						},
						"prefill": {
							"contact":""+res.contact+"",
							"name": ""+res.name+"",
							"email": ""+res.email+""
						},
						"notes" : {
							"description":""+res.description+""
						},
						"theme": {
							"color": "#2300a3"
						}
					};
					var razorpayObject = new Razorpay(options);
					razorpayObject.on('payment.failed', function (response){
							alert("Payment Failed");
					});
					razorpayObject.open();
				}
				else{
					alert(res.msg);
				}
			}
		})

	});
});

</script>




</body>
</html>